@{
    ViewData["Title"] = "FirstAjax";
}

<h1>FirstAjax</h1>
<img id="img1" src="~/Images/Hourglass.gif" style="display:none" />
<button class="btn btn-primary" id="btn1">Go Ajax</button>
<button class="btn btn-danger" id="btn2">Stop Ajax</button>
<select class="form-select" id="select1"></select>

<div id="div1"></div>
<div id="div2"></div>
@section Scripts {
    <script>
        let btn1 = document.querySelector("#btn1")
        let btn2 = document.querySelector("#btn2")
        let div = document.querySelector("#div1")
        let div2 = document.querySelector("#div2")
        let img = document.querySelector("#img1")
        let select1 = document.querySelector("#select1")
        let abortController;
        // 非同步取得文字(then寫法)
        // btn1.addEventListener("click",()=>{
        //     fetch('@Url.Content("~/Api/ReturnContent")')
        //     .then(response=> response.text())
        //     .then(data=> div.innerHTML = data)
        // })

        //終止async function
        btn2.addEventListener("click", () => {
            abortController.abort()
        });
        // 非同步取得文字(async/await寫法)
        btn1.addEventListener("click", async () => {
            try {
                img.style.display = "inline"
                btn1.setAttribute("disabled", "disabled")

                abortController = new AbortController()
                const signal = abortController.signal

                let promise = await fetch('@Url.Content("~/Api/ReturnContent")', { signal })
                if (!promise.ok)
                    throw new Error(`${promise.status}`)
                let data = await promise.text();

                div.innerHTML = `<h2>${data}</h2>`;
            } catch (error) {
                div.innerHTML = `<h2>${error}</h2>`;
            } finally {
                img.style.display = "none"
                btn1.removeAttribute("disabled")
            }
        });
        //非同步取得城市列表的JSON，並改寫為<option>標籤
        (async () => {
            let response = await fetch('@Url.Content("~/Api/ReturnJson")')
            let json = await response.json();
            let cities = json.map(city => `<option value = "${city}">${city}</option>`)
            select1.innerHTML = cities.join("");
        })();

        //將參數帶入網址，並傳送至Controller
        (async () => {
            const url = '@Url.Content("~/Api/Registor")?name=Tom&age=35'
            const promise = await fetch(url);
            const data = await promise.text();
            div2.innerHTML = data;
        })()

    </script>

}
@section Styles {

}