
@{
    ViewData["Title"] = "CheckUsername";
}

<h1>登入系統</h1>
<form method="post" action="~/Api/Register" id="userForm">
    <div class="mb-3">
        <label for="name" class="form-label">姓名</label>
        <input type="text" class="form-control" id="name" name="name" autocomplete="off">
        <div class="alert alert-danger" hidden id="divCheckUser"></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">電子郵件</label>
        <input type="password" class="form-control" id="email" name="email" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">密碼</label>
        <input type="password" class="form-control" id="pwd" name="pwd">
        <div class="alert alert-success" hidden id="divPwd"></div>
    </div>
    <div class="mb-3">
        <label for="pwdcheck" class="form-label">密碼確認</label>
        <input type="password" class="form-control" id="pwdcheck" name="pwdcheck">
        <div class="alert alert-success" hidden id="divCheckPwd"></div>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">年紀</label>
        <input type="number" class="form-control" id="age" name="age">
    </div>
    <button type="submit" class="btn btn-primary" id="btn">送出</button>
    <div class="alert alert-info mt-3" id="divInfo"></div>
</form>
@section Scripts {
    <script>
        const name = document.getElementById("name");
        const email = document.getElementById("email");
        const age = document.getElementById("age");
        const pwd = document.getElementById("pwd");
        const pwdcheck = document.getElementById("pwdcheck");
        const btn = document.getElementById("btn");
        const divInfo = document.getElementById("divInfo");
        const divCheckUser = document.getElementById("divCheckUser");
        const divPwd = document.getElementById("divPwd");
        const divCheckPwd = document.getElementById("divCheckPwd");
        const userForm = document.getElementById("userForm");
        
        //檢查使用者名稱是否存在
        name.addEventListener("blur", async (event) => {
            if (name.value == "") {
                divCheckUser.textContent = "請輸入使用者名稱";
                divCheckUser.className = "alert alert-danger my-1 py-1";
                divCheckUser.removeAttribute("hidden");
                return;
            }
            const url = `@Url.Content("~/Api/CheckUsername")`;
            const formData = new FormData(userForm);
            const response = await fetch(url, { body: formData, method: 'POST' });
            const data = await response.text();
            console.log(data);

            if (data == "True") {
                divCheckUser.textContent = "帳號已存在";
                divCheckUser.className = "alert alert-danger my-1 py-1";
            } else {
                divCheckUser.textContent = "帳號可使用";
                divCheckUser.className = "alert alert-success my-1 py-1";
            }
            divCheckUser.removeAttribute("hidden");
        });
        //檢查密碼兩次輸入是否相同
        pwdcheck.addEventListener("blur", () => {
            if (pwd.value == "") {
                divPwd.innerText = "請輸入密碼";
                divPwd.removeAttribute("hidden");
                divPwd.setAttribute("class", "alert alert-danger my-1 py-1");
                return;
            }
            if (pwd.value === pwdcheck.value) {
                divCheckPwd.innerText = "密碼相同";
                divCheckPwd.setAttribute("class", "alert alert-success my-1 py-1");
            }
            else{
                divCheckPwd.innerText = "密碼不同";
                divCheckPwd.setAttribute("class", "alert alert-danger my-1 py-1");
            }
            divCheckPwd.removeAttribute("hidden");
        })
        pwd.addEventListener("focus", () => {
            divPwd.setAttribute("hidden", "hidden");
            divCheckPwd.setAttribute("hidden", "hidden");
        })
    </script>
}
@section Styles {
    <style>

    </style>
}