
@{
    ViewData["Title"] = "CheckUsername";
}

<h1>CheckUsername</h1>
<form method="post" action="~/Api/Register" id="userForm">
    <div class="mb-3">
        <label for="name" class="form-label">姓名</label>
        <input type="text" class="form-control" id="name" name="name" autocomplete="off">
        <div class="alert alert-danger" hidden id="divCheckUser"></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">電子郵件</label>
        <input type="password" class="form-control" id="email" name="email" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">年紀</label>
        <input type="number" class="form-control" id="age" name="age">
    </div>
    <button type="submit" class="btn btn-primary" id="btn">送出</button>
    <div class="alert alert-info mt-3" id="divInfo"></div>
</form>
@section Scripts {
    <script>
        const name = document.getElementById("name");
        const email = document.getElementById("email");
        const age = document.getElementById("age");
        const btn = document.getElementById("btn");
        const divInfo = document.getElementById("divInfo");
        const divCheckUser = document.getElementById("divCheckUser");
        const userForm = document.getElementById("userForm");

        name.addEventListener("blur", async (event) => {
            if (name.value == "") {
                divCheckUser.textContent = "請輸入使用者名稱";
                divCheckUser.className = "alert alert-danger py-1";
                divCheckUser.removeAttribute("hidden");
                return;
            }
            const url = `@Url.Content("~/Api/CheckUsername")`;
            const formData = new FormData(userForm);
            const response = await fetch(url, { body: formData, method: 'POST' });
            const data = await response.text();
            console.log(data);
            
            if (data == "True") {
                divCheckUser.textContent = "帳號已存在";
                divCheckUser.className = "alert alert-danger py-1";
            } else {
                divCheckUser.textContent = "帳號可使用";
                divCheckUser.className = "alert alert-success py-1";
            }
            divCheckUser.removeAttribute("hidden");
        })
    </script>
}
@section Styles {
    <style>

    </style>
}