@{
    ViewData["Title"] = "Spot";
}

<h1>觀光景點</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <nav>
            <ul class="pagination pagination-sm" id="ul"></ul>
        </nav>
    </div>
    <div class="col-3"><input type="text" class="form-control" id="searchtxt" placeholder="搜尋景點"/></div>
    <div class="row row-cols-1 row-cols-md-3 g-4" id="spotdiv"></div>
</div>
@section Scripts {
    <script>
        const spotdiv = document.getElementById("spotdiv");
        const searchtxt = document.getElementById("searchtxt");
        const ul = document.getElementById("ul");
        // JSON內容
        const searchData = {
            "categoryId": 1,
            "keyword": "",
            "page": 1,
            "pageSize": 9,
            "sortType": "asc",
            "sortBy": ""
        };
        // 傳送JSON資料給Api(body與headers不可省略)
        const loadData = async () => {
            const response = await fetch('@Url.Content("~/Api/GetSpot")', {
                'method': 'POST',
                'body': JSON.stringify(searchData),
                'headers': {
                    'Content-Type': 'application/json'
                }
            });
            const spots = await response.json();
            console.log(spots);
            //顯示景點資料
            const data = spots.spotsResult.map(x =>
                `<div class="col">
                            <div class="card">
                                <img src="${x.spotImage}" class="card-img-top" alt="${x.spotTitle}">
                                <div class="card-body">
                                    <h5 class="card-title">${x.spotTitle}</h5>
                                    <p class="card-text">${x.spotDescription.substring(0, 100)}...</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">${x.address}</small>
                                </div>
                            </div>
                        </div>`);
            spotdiv.innerHTML = data.join("");
            //顯示分頁按鈕
            let str = "";
            for (let i = 1; i <= spots.totalPages; i++) {
                str += `<li class="page-item" onclick="searchData.page = ${i}; loadData();"><a class="page-link" >${i}</a></li>`;
            }
            ul.innerHTML = str;

        };
        loadData();

        searchtxt.addEventListener("keydown", (event) => {
            if (event.keyCode === 13) {
                searchData.keyword = event.target.value;
                loadData();
            }
        })

    </script>
}
@section Styles {
    <style>

    </style>
}