@{
    ViewData["Title"] = "Zip";
}

<h1>台灣路名</h1>
<select id="city"><option>請選擇縣市</option></select>
<select id="distinction"><option>請選擇鄉鎮區</option></select>
<select id="road"><option>請選擇路名</option></select>
<h2 id="h2"></h2>

@section Scripts {
    <script>
        const city = document.getElementById("city");
        const distinction = document.getElementById("distinction");
        const road = document.getElementById("road");
        const h2 = document.getElementById("h2");

        road.addEventListener("change", () => {
            h2.innerText = distinction.value + road.value;
        })

        const loadRoad = async () => {
            const response = await fetch(`@Url.Content("~/Api/GetRoad")?distinction=${distinction.value}`);
            const data = await response.json();
            const roads = data.map(road => `<option value="${road}">${road}</option>`)
            road.innerHTML = roads.join("");
            h2.innerText = distinction.value + road.value;
        }

        const loadDistinct = async () => {
            const response = await fetch(`@Url.Content("~/Api/GetDistinction")?city=${city.value}`);
            const data = await response.json();
            const distinctions = data.map(distinction => `<option value="${distinction}">${distinction}</option>`);
            distinction.innerHTML = distinctions.join("");
            loadRoad();
        }

        (async () => {
            const response = await fetch('@Url.Content("~/Api/GetCity")');
            const data = await response.json();
            const cities = data.map(city => `<option>${city}</option>`);
            city.innerHTML = cities.join("");
            await loadDistinct();
            loadRoad();
        })();

        city.addEventListener("change", loadDistinct);
        distinction.addEventListener("change", loadRoad);
    </script>
}
@section Styles {
    <style>

    </style>
}